{% extends 'parent_page.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">BOOKING DETAILS</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>SI NO</th>
                            <th>NAME</th>
                            <th>BOOKING_DATE</th>
                            <th>JOINING_DATE</th>
                            <th>STATUS</th>



                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{i.name}}</td>
                          <td>{{i.booking_date}}</td>
                          <td>{{i.date_joining}}</td>
                          <td>
                              {% if i.status == 0 %}
                              <a class="btn btn-primary" href="#">PENDING</a>
                              {% elif i.status == 1 %}
                              <p class="btn btn-dark">BOOKED</p>
                              {% elif i.status == 2 %}
                              <p class="btn btn-warning">REJECTED</p>
                              {% endif %}

                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}